<div class="copyright">
  <a rel="license" href="<%= APP_CONFIG['copyright_link'] %>">
    <img alt="<%= h APP_CONFIG['copyright_name'] %>" style="border-width:0" src="<%= APP_CONFIG['copyright_image'] %>" />
</a>
All Content by <%= APP_CONFIG['copyright_holder'] %> is licensed under a 
<br /><a rel="license" href="<%= APP_CONFIG['copyright_link'] %>"><%= APP_CONFIG['copyright_name'] %></a>.
</div>
